# Removes bot accounts from the originally annotated dataset

In [11]:
import tweepy
from tweepy import OAuthHandler
import pandas as pd

def get_api(consumer_key, consumer_secret, access_token, access_secret):
    auth = OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_token, access_secret)
    return tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True, compression=True)

In [12]:
key = ['L5UQsE4pIb9YUJvP7HjHuxSvW',
       'HdRLPYgUqME194Wi2ThbbWfRd9BNHxIr2ms612oX9Yq1QXZdH7',
       '1039011019786342401-iDggGlhErT1KKdVGVXz4Kt7X8v0kIV',
       'MJ17S1uhCaI1zS3NBWksMaWdwjvAjn7cpji5vyhknfcUe']

api = get_api(key[0], key[1], key[2], key[3])

In [13]:
df = pd.read_csv("BotClassificationResults.csv")

In [14]:
df.head()

,id,age,in_out_ratio,favorites_ratio,status_ratio,account_rep,avg_tpd,hashtags_ratio,user_mentions_ratio,screen_name_binary,description_binary,id.1,bot
0,259570426,2.691286e+08,0.748899,0.063886,0.269670,0.428212,1.849438,0.619684,1.0887,False,False,259570426,0
1,379554483,2.512463e+08,1.657407,7.052063,54.546797,0.623693,13.698630,0.210000,1.3860,False,False,379554483,0
2,20681749,3.337197e+08,0.600708,36.695957,79.228553,0.375276,200.000000,0.185000,1.4170,False,False,20681749,0
3,970451120,2.143042e+08,0.603175,0.414454,4.695262,0.376238,4.366812,0.054000,1.1790,False,False,970451120,0
4,2277635479,1.792401e+08,1.079659,9.005376,28.362451,0.519152,8.849558,0.324000,1.2700,False,False,2277635479,0

In [15]:
df['bot'].value_counts()

0    329
1     58
Name: bot, dtype: int64

In [16]:
screen_names = []
for i in df.itertuples(index=True, name='Pandas'):
    if i.bot == 1:
        user = api.get_user(i.id)
        screen_names.append(user.screen_name)

In [17]:
df = pd.read_csv('DownsampledCoreData.csv')
df.head()

,created_at,tweet_id,text,migration_relevant,source,truncated,in_reply_to_status_id,in_reply_to_user_id,in_reply_to_screen_name,user_id,...,favorites_count,statuses_count,utc_offset,time_zone,geo_enabled,contributors_enabled,is_translator,following_count,lang,migration_relevance
0,Tue Sep 01 17:49:40 +0000 2015,6.390000e+17,jordanbos97 that means so much thank you thank...,no,"<a href=""http://twitter.com/download/android"" ...",False,6.390000e+17,473000000.0,jordanbos97,5.460000e+08,...,55506,42316,-36000.0,Hawaii,True,False,False,519,en,0.0
1,Tue Sep 01 20:17:15 +0000 2015,6.390000e+17,rt laker_show jordan clarkson imitating kobes ...,no,"<a href=""http://twitter.com/download/android"" ...",False,NaN,NaN,NaN,2.370000e+08,...,596,1609,-25200.0,Pacific Time (US & Canada),True,False,False,82,en,0.0
2,Tue Sep 01 14:12:35 +0000 2015,6.390000e+17,rt ulusoybetuel you have to unterstand that no...,no,"<a href=""http://twitter.com/download/android"" ...",False,NaN,NaN,NaN,4.870000e+08,...,45082,30305,7200.0,Berlin,True,False,False,790,en,0.0
3,Tue Sep 01 08:11:43 +0000 2015,6.390000e+17,europe tightens borders to stop flow of migran...,no,"<a href=""http://ifttt.com"" rel=""nofollow"">IFTT...",False,NaN,NaN,NaN,3.170000e+09,...,0,168728,NaN,NaN,False,False,False,157,en,0.0
4,Wed Sep 02 00:52:02 +0000 2015,6.390000e+17,she looks like a campaign poster for neglected...,no,"<a href=""http://twitter.com/download/iphone"" r...",False,NaN,NaN,NaN,4.570000e+08,...,2936,10919,NaN,NaN,False,False,False,853,en,0.0

In [18]:
for row in screen_names:
    df = df[df.screenname != row]

In [19]:
df['migration_relevance'].value_counts()

0.0    277
1.0    269
Name: migration_relevance, dtype: int64

In [20]:
df.to_csv('DownsampledCoreDataWithoutBots.csv')